# API Configuration
# The base URL for your backend API
VITE_API_BASE_URL=http://localhost:8000

# EGI login page
VITE_EGI_AUTH_ENDPOINT=https://aai-dev.egi.eu/auth/realms/egi/protocol/openid-connect/auth
VITE_EGI_RESPONSE_TYPE=code
VITE_EGI_SCOPE=openid profile email
VITE_EGI_CLIENT_ID=e00edd5a-e305-454e-9b2f-af410157a005
VITE_EGI_REDIRECT_URI=http://localhost:3000/egi-login