{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(react-router-dom/(.*)$)|^(react-router-dom$)",
    "^(react-router/(.*)$)|^(react-router$)",
    "^(react-i18next/(.*)$)|^(react-i18next$)",
    "<THIRD_PARTY_MODULES>",
    "^@mui/(.*)$",
    "",
    "^@/routes/(.*)$",
    "^@/providers/(.*)$",
    "^@/layouts/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/assets/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
